@import url(https://fonts.googleapis.com/css?family=Roboto:700);

* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    overflow: hidden;
}

body {
    text-shadow: 0 0 1px #000, 0 0 2px #000;
    background: {background_color};
    font-family: 'Roboto';
    font-weight: 700;
    font-size: {font_size};
    line-height: 1.5em;
    color: {text_color};
}

#log>div {
    animation: fadeInRight .3s ease forwards, fadeOut 0.5s ease {message_hide_delay} forwards;
    -webkit-animation: fadeInRight .3s ease forwards, fadeOut 0.5s ease {message_hide_delay} forwards;
}

.message-row {
    border-left: 5px solid black;
    background-color: rgba(50, 48, 47, 0.8); /* website color */
    padding: 5px 8px;
    margin-top: 10px;
}

.colon {
    display: none;
}

#log {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 0 10px 10px 0;
    width: 100%;
    table-layout: fixed;
    border-spacing: 0 8px;
}

#log>div {
}

#log>div.deleted {
    visibility: hidden;
}

#log .emote {
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    padding: 0.4em 0.2em;
    position: relative;
}

#log .emote img {
    display: inline-block;
    height: 1em;
    opacity: 0;
}

#log .message,
#log .meta {
    vertical-align: top;
}

#log .message {
    margin-bottom: 5px;
    word-wrap: break-word;
}

#log .meta {
    text-align: right;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.badge {
    display: inline-block;
    margin-right: 0.2em;
    position: relative;
    height: 1em;
    vertical-align: middle;
    top: -0.1em;
}

.name {
    margin-left: 0.2em;
}

